{% for item in groups['kafka-server'] %}
{% if hostvars[item].inventory_hostname == inventory_hostname %}
broker.id={{ loop.index0 }}
{% endif %}
{% endfor %}

listeners=PLAINTEXT://:9092

host.name={{ ansible_default_ipv4.address }}

{% if advertise != "public" %}#{% endif %}advertised.host.name={{ inventory_hostname }}

{% if advertise != "private" %}#{% endif %}advertised.host.name={{ ansible_default_ipv4.address }}

#advertised.port=<port accessible by clients>

num.network.threads=3

num.io.threads=8

socket.send.buffer.bytes=102400

socket.receive.buffer.bytes=102400

socket.request.max.bytes=104857600

log.dirs=/var/lib/kafka

num.partitions=1

num.recovery.threads.per.data.dir=1

{% if retention_type != "hour" %}#{% endif %}log.retention.hours={{retention_value}}

{% if retention_type != "minute" %}#{% endif %}log.retention.minutes={{retention_value}}

{% if retention_type != "millisecond" %}#{% endif %}log.retention.ms={{retention_value}}

#log.retention.bytes=2000

log.segment.bytes=1073741824

log.retention.check.interval.ms=300000

zookeeper.connect={% for item in groups['kafka-server'] %}zoo{{ loop.index }}:2181{% if not loop.last %},{% endif %}{% endfor %}


zookeeper.connection.timeout.ms=10000

confluent.support.metrics.enable=true

confluent.support.customer.id=anonymous

delete.topic.enable=true
